* {
    /* border: dotted pink 1px;
    /* temporary */
}



html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: larger;
}
.button-success {
    /* from https://purecss.io/buttons/ */
    background: rgb(28, 184, 65);
    /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}
.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}
.button-secondary {
    background: rgb(66, 184, 221) ;
    /* this is a light blue */
}

.navBox {
    width: 100%;
    height: 5%;
    background-color: #3a8a9e;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 50px;
}

.navLinks {
    /* equal-distant between links */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.navLinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.navLinks a:hover {
    transform: scale(1.1);
}

.interactive {
    border: 5px black solid;
    width: 95%;
    margin-top: 5%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.qna {
    position: relative;
    top: -25%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}


.copouts {
    position: absolute;
    right: 100px;
    top: 200px;
}

.aidbtns {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

.aidbtns:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.aidbtns:active {
    position: relative;
    top: 1px;
}

.disabled {
    pointer-events: none;
}

#answerslist {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    row-gap: 1rem;
    list-style-type: none;
}

#answer {
    list-style: none;
}

#answerbtn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.modal {
    display: none;
}

.footer {
    background-color: #3A8A9E;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.people {
    height: 85%;
    display: flex;
    flex-direction: row;
}

.person {
    margin: 0 10px;

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: -10% 10px;
}

ion-icon {
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

ion-icon:hover {
    transform: scale(1.5);
}

.perosn a:visited {
    text-decoration: none;

}

.answerbtn {
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.answerbtn:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.answerbtn:active {
    position: relative;
    top: 1px;
}

.qna {}