* {
    border: dotted pink 1px;
    /* temporary */
}



html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBox{
    width: 100%;
    height: 5%;
    background-color: #3a8a9e;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 50px;
}


.navLinks {
    /* equal-distant between links */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navLinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.interactive{
    border: 5px black solid;
    width: 95%;
    margin-top: 5%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qna{
    position: relative;
    top:-25%;
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {}


.aidbtns {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.aidbtns:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.aidbtns:active {
	position:relative;
	top:1px;
}
.disabled {
    pointer-events: none;
}